<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{profile.title}}</mat-card-title>
        <mat-card-subtitle>{{profile.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="profile.image" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{profile.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>