<mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile [rowspan]="1">
        <mat-card>
            <mat-card-content>
                <a routerLink="/dynamic-component-loading">
                    Dynamic Component Loading
                    <mat-icon class="green">check_circle</mat-icon>
                </a>
            </mat-card-content>
        </mat-card>
        <a routerLink="/dynamic-component-loading">
        </a>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="1">
        <mat-card>
            <mat-card-content>
                <a routerLink="/route1/component1">
                    Dynamic Component Loading (import + SCAM)
                    <mat-icon class="green">check_circle</mat-icon>
                </a>
            </mat-card-content>
        </mat-card>
        <a routerLink="/route1/component2">
        </a>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2">
        <mat-card>
            <mat-card-content>
                <a routerLink="/dynamic-form">
                    Dynamic Configuration based lazyform rendering (ngOutletComponent + import)
                    <mat-icon class="yellow">warning</mat-icon>
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [rowspan]="2">
        <mat-card>
            <mat-card-content>
                <a routerLink="/dynamic-form/dynamic-lazy-loading">
                    Dynamic Configuration based lazyform rendering (ng-dynamic-component library + import)
                    <mat-icon class="green">check_circle</mat-icon>
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
