<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <a routerLink="/route1/component1">
                    Lazy Load and Custom Preloading 
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <a routerLink="/route1/component1">
                    Dynamic Component Loading + SCAM
                </a>
            </mat-card-content>
        </mat-card>
        <a routerLink="/route1/component2">
        </a>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <a routerLink="/dynamic-form">
                    ngOutletComponent + import
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <a routerLink="/dynamic-form/dynamic-lazy-loading">
                    Advanced
                </a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
